.Home-title{
    margin-bottom:  30 px;

}
.Home-authenticate{
    font-size:  16 px;
    margin-bottom: 20 px;
}
.UserHeader{
    padding: 50 px;
    background-color: lightgray;
    font-size: 14 px;
    height: 30 px;
    margin-top: 20 px;
    margin-bottom:  10 px;
    display: flex;
    justify-content: space-between;
}

.Flash-error{
    margin-bottom: 10 px;
    color : darkred;
    font-size: 14 px;
}